#grid-container {
  background-color: var(--bg-beige-color);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  justify-items: center;

  column-gap: 64px;
  row-gap: 12px;
  padding: 64px;
  margin: 64px;
}

#grid-container img {
  max-width: 100%;
  max-height: 100%;
}

.item1 {
  grid-area: 1 / 2 / span 1 / span 1;
}

.item2 {
  grid-area: 2/ 1 / span 1 / span 1;
}

.item3 {
  grid-area: 2/ 2 / span 1 / span 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item3 p {
  margin-top: 0;
}

@media (max-width: 800px) {
  #grid-container {
    display: flex;
    flex-direction: column;
  }

  .item1 img {
    /* the object-fit property will fit image without changing the proportionally.
    Ref: https: //www.geeksforgeeks.org/resize-image-proportionally-with-css/ */
    object-fit: contain;
    max-height: 30vh;
  }
}
