@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    font-style: italic;
    src: url("/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* dark coral */
    --primary-color: #BE5A38;

    --text-color: #212427;
    /* medium light grey background */
    --bg-gray-light-color: #DFDFDF;

    /* grigetto chiaro */
    --bg-gray-line: #A9AEB3;

    --white: #FFF;
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 48px;
    --space-6: 64px;
}

body {
    background-color: #DFDFDF;
}

html, body {
    margin: 0;
}

body,
textarea, 
input {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

textarea, input {
    color: var(--text-color);
    border-radius: 4px;
    border: 1px solid #A9AEB3;
    padding: 8px;
}

textarea:focus, input:focus {
    outline: 1px solid var(--primary-color);
}

h2, p {
    color: var(--text-color);
}

hr {
    border-top: 1px solid #A9AEB3;
}

a {
    color: #212427;
    text-decoration: none;
}

a:hover, 
a:hover * {
    transition: all 0.3s ease;
    color: var(--primary-color);
    
    /* text-decoration: underline; */
    font-weight: bold;
}

a.active {
    color: var(--primary-color);
    text-decoration: underline;
}

.display-2 {
    font-size: 64px;
}

.text-light {
    color: #ccc;
}

@media (max-width: 800px) {
    .display-2 {
        font-size: 32px;
    }
}
