/* top banner */

body {
    background-color: #DFDFDF;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #EFEFEF;
    height: 310px;
    padding: 32px;
}

.bg {
    display: flex;
}

.div-block {
    display: flex;
    background-color: #E9E5D6;
    padding: 32px;
    align-items: center;
}
.text-block {
    text-align: center;
}

.text-block h2 {
    display: inline;
    text-transform: uppercase;
    font-size: 80px;
}

.row {
    display: flex;
}

.icon {
    color: #212427;
    width: 64px;
    margin-left: 16px;
}

.img {
    display: flex; 
    margin-left: 32px;
    margin-left: 32px;
}

/* top filter */

.top-filter {
    background-color: #E9E5D6;
    display: flex;
    justify-content: space-between;
    text-transform:capitalize;
    padding: 16px;
    gap: 8px;
}

.bottom-filter {
    background-color: #264348;
    display: flex;
    text-transform: uppercase;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    
}

.bottom-filter a:not(:hover) {
    color: #FFFFFF;
}

/* bottom banner */

.bottom-banner {
    display: flex;
    justify-content: space-between;
}
.bottom-banner img {
    width: 100%;
}
.grid-container {
    padding: 24px;
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-rows: auto auto;
    background-color: #EFEFEF;
}

.grid-container > div:first-child  {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
}

.grid-text {
    background-color: #E9E5D6;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: center;
    text-transform: uppercase;
    /* font-size: 80px; */
    box-shadow: 5px 10px 5px grey;
    
}

/*----------------grid products--------------------*/

.grid-container-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.flex-product {
    /*display: flex;
    flex-direction: column;
    grid-template-rows: auto 400px;*/
    background-color: #EFEFEF;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    /* height: 350px; */
}

.flex-product > div:first-child {
    /*grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;*/
    /*justify-content: center;
    display: flex;*/
    padding: 24px;
}

.flex-product img {
    width: 100%;
}

.flex-text2 {
    background-color: #E9E5D6;
    /*grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: left;*/
    padding: 0 0 0 8px;
    /* font-size: 80px; */
}

.box-txt {
    /* margin: auto; */
}

.price {
    color: #BE5A38;
    margin-top: 24px;
    margin-bottom: 24px;
}

.flex-prova {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
}
/*----------------pagination--------------------*/

.pagination {
    display: flex;
    grid-template-columns: 24px auto 24px;
    /* flex-wrap: nowrap; */
    align-items: center;
    gap: 40px;

    /* margin: 24px; */
    padding: 32px;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    height: 24px; 
    
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;
}

.pagination a:hover, .pagination a.active {
    background-color: #A9AEB3;
    border-radius: 50%;
}