#flex-container {
    display: flex;
    flex-direction: row;

    background-color: transparent;
    justify-content: space-around;
    align-items: stretch;
    column-gap: 32px;
    padding: 8px;
    

}

.item1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    background-color: #E9E5D6;
    padding: 64px;
}

.item1 .row2,
.item1 .row3,
.item1 .row4 {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.item2 {
    display: flex;
    flex-direction: column;
    background-color: #E9E5D6;
    padding: 64px;
  
}

.row1 {
    text-transform:initial;
    text-align: center;
}

.row2,
.row3 {
    text-transform: uppercase;
}
.row3 img {
    width:100%;
    height: 100%;
}

#input-message {
    min-height: 200px;
}

.row4 button {
    width: 100%
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #264348;
    text-transform: uppercase;
    padding: 4px;
    border-radius: 16px;
    gap: 8px;
    color: #FFFFFF;
    border: 0;
}

button[type="submit"]:hover {
    color: var(--primary-color);
}

@media (max-width: 800px) {
    #flex-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .item1 img {
        /* the object-fit property will fit image without changing the proportionally.
    Ref: https: //www.geeksforgeeks.org/resize-image-proportionally-with-css/ */
        object-fit: contain;
        max-height: 30vh;
    }
}