.flex-header {
    display: flex;
    flex-direction: column;
    background-color:#A9AEB3; /* rgba(169, 174, 179, 0.4); */ /* #A9AEB3 40% alpha */
    color: #212427;
    position: relative;
}
.flex-row1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 32px;
    margin-right: 32px;
}

.flex-row2 {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
}

#logo-img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 32px;
}

#logo-img img {
    max-width: 200px;
}

.menu-column2 {
    align-self: end;
    font-size: 22px;

    flex-grow: 1;
    margin-left: 32px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    margin-bottom: 32px;
    
    color: #212427;
    text-decoration: none;
}