h1 {
  text-align: center;
}

/* top banner */

#banner-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-white-color);
  padding: 32px;
}

#banner-top .image {
  display: flex;
  justify-content: center;
}

#banner-top .image img {
  display: flex;
  margin-left: 32px;
  height: 300px;
}

#banner-top .text-container {
  display: flex;
  background-color: var(--bg-beige-color);
  padding: 32px;
  align-items: center;
}

#banner-top .text {
  text-align: center;
}

#banner-top .text p {
  display: inline;
  text-transform: uppercase;
}

#banner-top .icon {
  color: var(--text-color);
  width: 64px;
  margin-left: 16px;
}

/* grid products */

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.product {
  background-color: var(--bg-white-color);
  /* background-color: white; */

  display: flex;
  flex-direction: column;
}

.product > div:first-child {
  /* padding: 24px; */
  display: flex;
  /* justify-content: center; */
  background-color: white;
  margin: 24px;
  /* padding: 0; */
}

.product img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.product .text {
  background-color: var(--bg-beige-color);
  padding: 0 0 0 8px;
}

.product .price {
  color: var(--primary-color);
  margin-top: 24px;
  margin-bottom: 24px;
}

#btn-more.cta-large {
  display: none;
}

@media (max-width: 800px) {
  #banner-top {
    flex-direction: column;
  }

  #banner-top .text-container {
    justify-content: space-around;
  }

  #banner-top .icon {
    width: 32px;
  }

  #products {
    align-self: center;

    width: 90vw;
    overflow: hidden;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    display: flex;
  }

  #products .product {
    min-width: 55vw;
  }

  #promo-bottom,
  #banner-bottom,
  #products-pagination {
    display: none;
  }

  #btn-more.cta-large {
    display: flex;
  }
}
