.home-layout{
    background-color: #DFDFDF;
    border: 1px solid;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
    min-width: 100vh;

}

header {
    background-color: #A9AEB3;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;

    margin-left: 70px;
    margin-right: 70px;
    
    background-color: #DFDFDF;
    border: 1px solid;
    text-align: center;

}

footer {
    background-color: #A9AEB3;
}