#product-title {
  text-transform: uppercase;
}

/* Products specific details*/

#product-details > div {
  background-color: var(--bg-beige-color);
  text-align: left;
  padding: 8px;
}

#product-details > div:nth-child(7) {
  background-color: transparent;
}

#product-details {
  column-gap: 16px;
  row-gap: 16px;

  padding: 10px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
}

#product-details img {
  max-width: 100%;
  max-height: 100%;
}

#product-details .item1 {
  /* background-color: var(--bg-white-color); */
  background-color: white;
}

.item1 {
  grid-area: 1 / 1 / span 4 / span 4;
}

.item2 {
  grid-area: 1 / 5 / span 1 / span 4;
  display: flex;
  align-items: center;
}

.item3 {
  grid-area: 1 / 9 / span 1 / span 4;
  color: var(--primary-color);
  font-size: 32px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.item4 {
  grid-area: 2 / 5 / span 1 / span 8;
}

#product-colors {
  display: flex;
  gap: 24px;
}
#product-colors input[type="radio"] {
  display: none;
}

#product-colors label {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

#product-colors .colors {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid transparent;
}

#product-colors #label-color-1 {
  background-color: var(--dark-green);
}

#product-colors #label-color-2 {
  background-color: var(--white);
}

#product-colors #label-color-3 {
  background-color: var(--black);
}

#product-colors input[type="radio"]:checked + label span:nth-child(2) {
  border-bottom: 2px solid var(--primary-color);
}

.item5 {
  grid-area: 3 / 5 / span 1 / span 4;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item6 {
  grid-area: 3 / 9 / span 1 / span 4;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item7 {
  grid-area: 4 / 5 / span 1 / span 8;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item8 {
  grid-area: 5 / 1 / span 1 / span 4;
}
.item9 {
  grid-area: 5 / 5 / span 1 / span 4;
}

.item10 {
  grid-area: 5 / 9 / span 1 / span 4;
}

/* grid products */

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.product {
  background-color: var(--bg-white-color);
  display: flex;
  flex-direction: column;
}

.product > div:first-child {
  padding: 24px;
}

.product img {
  width: 100%;
  height: 350px;
  object-fit: fill;
}

.product .text {
  background-color: var(--bg-beige-color);
  padding: 0 0 0 8px;
}

.product .price {
  color: var(--primary-color);
  margin-top: 24px;
  margin-bottom: 24px;
}

#products-pagination {
  display: none;
}

.view-more {
  display: none;
}

/* media query */

@media (max-width: 800px) {
  #products {
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;
  }

  #products .product:nth-child(n + 3) {
    display: none;
  }

  #product-details {
    grid-template-rows: repeat(8, auto);
  }
  .item1 {
    grid-area: 1 / 1 / span 1 / span 12;
    max-height: 50vh;
    display: flex;
    justify-content: center;
  }
  .item2 {
    grid-area: 2 / 1 / span 1 / span 6;
  }
  .item3 {
    grid-area: 2 / 7 / span 1 / span 6;
  }
  .item4 {
    grid-area: 3 / 1 / span 1 / span 12;
  }
  .item5 {
    grid-area: 4 / 1 / span 1 / span 6;
  }
  .item6 {
    grid-area: 4 / 7 / span 1 / span 6;
  }
  .item7 {
    grid-area: 5 / 1 / span 1 / span 12;
  }
  .item8 {
    grid-area: 6 / 1 / span 1 / span 12;
  }
  .item9 {
    grid-area: 7 / 1 / span 1 / span 12;
  }
  .item10 {
    grid-area: 8 / 1 / span 1 / span 12;
  }

  .cta-large {
    display: block;
  }
}
